---
title: BDH Admitted Class of 2027
relative_prefix: "."
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/mxr8glf.css">
    <link rel="stylesheet" href="{{ relative_prefix }}/assets/styles.css">
    <link rel="icon" href="{{ relative_prefix }}/assets/html-img.png">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>